extends layout

block content
  div(class='centred')
    h1 User info

    p welcome #{locals.session.username} , we hope you enjoy your time here

    div.NavButtons
    a(class = 'button home',href="/") Home
    a(class = 'button home', href="/logout") Log Out
