body { padding: 0; margin: 0; min-width: 640px;}


header, footer {
    padding: 0; margin: 0;
    width: 100%;
    background-color: blue;
}
header { height: 50px; }
footer { height: 25px; clear: both; }

section.left, section.right {
    width: 44%; text-align: justify;
}
section.left { float: left; margin: 0 2% 0 4%; }
section.right { float: right; margin: 0 4% 0 2%; }

/* Main content area */

#content {
  margin: 20px 10px;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}




#boxPile {
  margin: 0 auto;
  background: #ffd;
  width: 910px;
  height: 120px
}

#boxSlots {
  margin: 50px auto 0 auto;
  background: #ddf;
  width: 910px;
  height: 120px;
  padding: 20px;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}


/* Individual cards and slots */
#boxSlots div, #boxPile div {
  float: left;
  width: 58px;
  height: 78px;
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 0;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0 0 0 10px;
  background: #fff;
  resize: both;
  overflow: auto;
}


#boxSlots div:first-child, #boxPile div:first-child {
  margin-left: 0;
}

#boxSlots div.hovered {
  background: #aaa;
}

#boxSlots div {
  border-style: dashed;
}

#boxPile div {
  background: #666;
  color: #fff;
  font-size: 50px;
  text-shadow: 0 0 3px #000;
}

#boxPile div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}



.indent { margin-left:40px; }
