extends layout

block content
  div.View.WelcomeView
    h1.Banner Hope Page Of Your Internet
    div.Message
      div.Title
        h3 Improving your browsing experience
      span.Details Access your personalised page:
    div.NavButtons
    a(class = 'button',href="/") Home
      if locals.session.user
        a(class = 'button', href="/user") Profile

        a(class = 'button', href="/logout") Log Out
      else
        a(class = 'button', href="/login") Log In
