body { padding: 0; margin: 0; min-width: 640px;}


header, footer {
    padding: 0; margin: 0;
    width: 100%;
    background-color: blue;
}
header { height: 50px; }
footer { height: 25px; clear: both; }

section.left, section.right {
    width: 44%; text-align: justify;
}
section.left { float: left; margin: 0 2% 0 4%; }
section.right { float: right; margin: 0 4% 0 2%; }

/* Main content area */

#content {
  margin: 20px 10px;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.list {
    text-align: center;
    cursor: pointer;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    border: 1px solid gray;
    background: #666;
  	color: #fff;
  	font-size: 30px;
    resize: both;
  	overflow: auto;
}

#items .ui-selected {
    background: red;
    color: white;
    font-weight: bold;
}

#items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#items li {
    float: left;
    margin: 2px;
    padding: 2px;
    width: 80px;
    height: 100px;
    line-height: 50px;
}

.highlight {
    border: 2px solid red;
    font-weight: bold;
    font-size: 50px;
    background-color: lightblue;
}


.indent { margin-left:40px; }
