[{"name":"My First Tab","boxes":[{"id":0,"slot":"slot0","width":150,"height":200,"name":"twitter","link":"https://twitter.com","color":"#da3939","slotHTML":{}},{"id":1,"slot":"slot1","width":150,"height":200,"name":"twitter","link":"https://twitter.com","color":"#da3939","slotHTML":{}}]},{"name":"My First Tab","boxes":[]},{"name":"My First Tab","boxes":[]}]